
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white
}

a:hover {
    cursor: pointer;
}

/* Navbar */

.navbar {
    padding: 1em 2em 2em 3em;
    background-color: black;
    height: auto;
    z-index: 1000
}

.logo {
    float: left;
    color: white;
    font-weight: bold;
    margin-top: -0.4em
}

.fa-skull-crossbones {
    font-size: 1.5em;
    margin-right: .5em
}

.nav-list {
    float: right
}

.nav-list a {
    margin-left: 1em
}

.nav-list a:hover {
    transition: 2s;
    text-decoration: underline
}

.navbar .fa-bars,
.navbar .fa-times {
    color: white;
    display: none;
    float: right;
    margin-top: -0.05em
}

/* Header BG */

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/halloween.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

/* Header-text */
.home-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-text {
    text-align: center;
    color: white;
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
}

.main-text h1{
   
    font-family: 'Griffy', cursive;
    font-size: 80px;
 }   

.main-text p {
    margin-top: -10px;
    line-height: 1.4em
}

.main-text a {
    font-size: 25px;
    background-color: #a90d0d;
    color: white;
    padding: 5px 15px; 
    font-weight: bold;
    border-radius: 3px;
}

.main-text a:hover {
    background-color: red;
    transition: .3s
}

/* Index */

.quote {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1em 1em;
    margin: 0
}

.gallery {
    margin-top: -1px;
    background-color: black;
    padding: 1em;
    column-count: 4;
    column-gap: 1em;
    height: auto;
}

.gallery img {
    display: block;
    margin: 0 0 1em;
    width: 100%
}

.costumes-and-decors {
    display: flex;
    flex-direction: column
}

.costumes,
.decors {
    width: 100%;
    position: relative
}

.costumes-and-decors img {
    width: 100%;
    height: 100%;
    display: block
}

.costumes-info,
.decors-info {
    border-top: 5px solid grey;
    z-index: 1000;
    background-color: black;
    color: white;
    margin: 2em;
    padding: 2em;
    width: 30%;
    position: absolute;
    top: 0
}

.costumes-info {
    float: left;
    left: 0
}

.decors-info {
    float: right;
    right: 0
}

.costumes-and-decors a {
    color: white;
    font-weight: bold;
    line-height: 2em
}

/* About */

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 2em;
}

.about-text { 
    padding: 0 1em 0 0; 
    width: 50% 
}

.about-text h1 {
    font-size: 3em;
    font-weight: 800;
    color: white;
}

.about-text p{
    font-size: .9em;
    color: #696969;
    line-height: 1.5em
}

.about-image{
    width: 50%;
    padding: 0;
}

.about-image img {
    width: 100%;
    height: 100%;
}

/* Footer */

#footer {
    background-color: black;
    color: white;
    border-top: 5px solid grey;
    height: auto
}

#footer .logo {
    margin: initial;
    padding: initial
}

.footer-I {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 1em;
    line-height: 2em
}

.footer-links i { margin-right: 10px }

.footer-I a:hover {
    transition: .2s;
    color: #696969
}

.seperator {
    height: 1px;
    background-color: grey
}

.footer-text {
    font-size: 12px;
    margin: 30px 20px;
    line-height: 20px
}

.footer-II {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 10px 20px
}

.footer-II p {
    line-height: .6em;
    font-size: 12px
}

.footer-html {
    position: absolute;
    border: 0;
    width: 100vw;
    height: 400px;
    overflow: hidden
}

/* Media Queries */

@media only screen and (max-width:1068px) {

    .about-section{
        flex-direction: column;
        align-items: center
    }

    .about-text, .about-image{
        width: initial;
        padding: 0;
        margin: 0
    }
}

@media only screen and (max-width:800px) {
   
    main-text {
        display: flex;
        justify-content: center;
        padding: 2em;
    }

}

@media only screen and (max-width:770px) {
    .navbar {
        padding-left: .5em;
        padding-right: .5em
    }

    .navbar .fa-bars { display: block }

    .navbar .fa-times { padding-right: .5em }

    .nav-list {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: black;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 1em
    }

    .nav-list a {
        display: block;
        transition: .3s;
        padding: .5em
    }

    .footer-I, .footer-II{ 
        flex-direction: column 
    }

    .costumes, .decors {
        position: initial;
        height: auto
    }

    .costumes-info, .decors-info {
        box-sizing: border-box;
        position: initial;
        top: 0;
        width: 100%;
        float: initial;
        margin: 0
    }

    .costumes-info .seperator, .costumes-info .seperator { width: 90% }

    .gallery { column-count: 3 }
}

@media only screen and (max-width:500px) {
    .gallery { column-count: 2}
    
    .main-text {
    	text-align: left;
    	align-items: flex-start;
    	margin-left: 20px;
    }

    .main-text h1{
        font-size: 45px;
    }  

}
